
<div class="cards">
  <% @surveys.each do |survey| %>  
  <!-- <div id="js-fadeInElement" class="fade-in-element"> -->
 
  <div class="card">
    <a href="/surveys/<%="#{survey.id}"%>">
    <div class="card-image">
      <img src="<%= survey.image %>" alt="">
    </div>
    <div class="card-header">
    	 <%=survey.title%></a>
    </div>
    <div class="card-copy">
      <p><%=survey.user.name%><br> By: <a href="/users/<%="#{survey.user_id}"%>"><%=survey.user.name%></a></p>
    </div>
  </div>
<!-- </div> -->
    <% end %>
</div>
